html {
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

nav {
	background-color: rgba(255, 255, 255, 0.8);
	position: fixed;
	z-index: 1003;
}

nav .brand-logo {
	color:#000;
	font-size: 2.6rem;
	font-family: 'Cormorant Upright', serif;
}

nav ul {
	margin: 0 0 0 20px;
}

nav ul li{
	font-family: 'Rajdhani', sans-serif;
}

nav ul a {
	font-size: 1.2rem;
	letter-spacing: 1px;
	color: #000;
}

h5{
	text-align: center;
	margin-top: 25px;
}

form p{
	text-align: center
}
.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active {
	color: #000;
}

.dropdown-content li > a, .dropdown-content li > span {
	color: #22313F;
	letter-spacing: 1px;
	font-size: 18px;
}

nav i.material-icons {
	color:#000;
}

.behind-nav {
  background-color: #fff;
  width: 100%;
  height: 50px;
/*  line-height: 56px;*/
}

.video-container video{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.nav-for-productPages{
	background-color: #fff !important;
  width: 100%;
  height: 112px;
  position: relative !important;

}

 @font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/material-design-icons-2.2.0/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../fonts/material-design-icons-2.2.0/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(../fonts/material-design-icons-2.2.0/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(../fonts/material-design-icons-2.2.0/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#signIn {
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
}

#myShoppingCard {
	background-color: transparent;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	padding-left: 1px;
	padding-right: 1.5px;
}

.modal{
	color:#000;
	font-size: 1.2rem;
	font-family: 'Roboto Mono', monospace;
}

.tabs.tabs-transparent .tab a,
.tabs.tabs-transparent .tab.disabled a,
.tabs.tabs-transparent .tab.disabled a:hover {
	color: #4183D7;
	font-size: 1.1rem;
}

/*Aktivi qanaqa turishi*/
.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active {
	color: #F22613;
}

.tabs.tabs-transparent .indicator {
	background-color: #F22613;
}

.parallax-container {
	height: 550px;
}

.container {
  width: 90%;
}

.cormorant{
  font-family: 'Cormorant Upright', serif;
  letter-spacing: 1px;
  text-align: center;
  font-size: 2rem;
}

.cormorand{
  font-family: 'Cormorant Upright', serif;
}

.section {
	padding-top: 2.5rem;
}

.grayBg{
	background-color: #ececec;
  color: #EC644B;
}

.page-footer {
  padding-top:0px;
  color: #000;
}

.footerContent{
    font-family: 'Rajdhani', sans-serif;
    margin-bottom: 0px;
}


.biggerFont{
  font-size: 1.2rem;
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px;
  color: rgba(255, 255, 255, 0.8);

}

.signInContent{
	background-color: rgba(0,0,0,0.1);
  	border-radius: 20px;
  	margin:60px 102px;
  /*	max-width: 65%;*/

}

.SIpadding {
	padding:10px 4rem;
}

.card .card-image .card-title {
  color: #000;
  padding: 20px;
  background-color: #ECF0F1;
  border-radius: 0px 10px 10px 0px;
}

.card .card-content {
  padding: 17px;
}

.card .card-content p {
 font-family: 'Lato',sans-serif;
 color:#000;
}

.bg { 
	background: url("../images/1-1.jpeg") no-repeat fixed center center / cover transparent; 
 	color: #999999; 
 	font-family: 'Lato',sans-serif;
 	height:100%;
 }




 #bgContact{
 	background: url("../images/signInImage3.jpeg") no-repeat fixed center center / cover transparent; 
 	height:100%;
 }



 #scrollToTop {
 	transition-property: opacity, opacity, opacity, opacity, opacity, opacity, opacity, opacity, opacity, opacity, opacity, opacity, opacity, opacity, opacity, opacity, opacity, opacity, opacity; 
	transition-duration: 400ms, 400ms, 400ms, 400ms, 400ms, 400ms, 400ms, 400ms, 400ms, 400ms, 400ms, 400ms, 400ms, 400ms, 400ms, 400ms, 400ms, 400ms, 400ms; 
 	transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out, ease-in-out; 
 	display: block;
 	opacity: 1;
 }

/*==============================*/

  /* label color */
   .input-field label {
     color: #000;

   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #19B5FE;
   }
 /*============================*/


.sendButton{
  margin-bottom: 30px;
  margin-left: 70px;
}

.grayContent{
  margin-bottom: 40px;
}

.showButton{
  text-align: center;
  margin-bottom: 30px;
  left:40%;
}

.article{
  padding:20px 70px ;
  font-size: 1.5rem;
  font-family: 'Cormorant Garamond', serif;

}